<form [formGroup]="postForm" (ngSubmit)="this.postForm.valid && this.addOrUpdatePost()">
    <div class="user-form">
        <mat-form-field>
            <input formControlName="title" matInput placeholder="Enter title" />
            <mat-error>Title is Required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="description" matInput placeholder="Enter description" />
            <mat-error>Description is Required</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">{{this.data ? 'Update' : 'Add'}}
        </button>
    </div>
</form>